-- 20210710 给供货商添加登录名和密码，让供货商可以查看自己的订单
alter table tm_sup_supplier add sup_login nvarchar(500) null
alter table tm_sup_supplier add sup_password nvarchar(2000) null

-- 20210714 给Society公司设置是否显示语言栏，默认不显示
alter table TR_SOC_Society add soc_show_language_bar bit null default 0

---------------------------------------------------------------------------------
---- 以上内容已经在服务器上运行 20210714

-- 20210822 让客户发票可以和物流对应，一张发票可以建多个物流单，同时多个发票可以对应同一个物流单
alter table TR_SOC_Society add soc_cin_lgs bit null -- 增加判断位，如果true则可以建立cin和lgs 的对应，否则不显示所有有关按键和信息
alter table TM_LGL_Logistic_Lines add cii_id int null constraint FK_LGL_CII references TM_CII_ClientInvoice_Line(cii_id)

-- cin发货表
create table TR_CGS_CIN_LGS
(
	cgl_id			int		identity(1,1)	primary key,
	cin_id			int		not null constraint FK_CGS_CIN references TM_CIN_Client_Invoice(cin_id),
	lgs_id			int		not null constraint FK_CGS_LGL references TM_LGS_Logistic(lgs_id),
	cin_order		int		not null, -- 用来表示子CinCode，同一个cin_id，从1开始自增加
)

alter table TM_LGL_Logistic_Lines add cgl_id int null constraint FK_LGL_CGS references TR_CGS_CIN_LGS(cgl_id)

update TM_LGL_Logistic_Lines set sol_id = null where sol_id = 0

update TM_LGL_Logistic_Lines set sol_id = null where sol_id not in (select sol_id from TM_SOL_SupplierOrder_Lines)

ALTER TABLE TM_LGL_Logistic_Lines  WITH CHECK ADD  CONSTRAINT FK_LGL_SOL FOREIGN KEY(sol_id) REFERENCES TM_SOL_SupplierOrder_Lines (sol_id)


-- 检查出来的错误
IF EXISTS (SELECT 1 FROM   INFORMATION_SCHEMA.COLUMNS WHERE  TABLE_NAME = 'TM_USR_User'  AND COLUMN_NAME = 'wx_usr_id' AND TABLE_SCHEMA='DBO')
  BEGIN
      ALTER TABLE TM_USR_User
        DROP COLUMN wx_usr_id
  END
GO
IF EXISTS (SELECT 1 FROM   INFORMATION_SCHEMA.COLUMNS WHERE  TABLE_NAME = 'TM_USR_User'  AND COLUMN_NAME = 'wx_name' AND TABLE_SCHEMA='DBO')
  BEGIN
      ALTER TABLE TM_USR_User
        DROP COLUMN wx_name
  END
GO
IF EXISTS (SELECT 1 FROM   INFORMATION_SCHEMA.COLUMNS WHERE  TABLE_NAME = 'TM_USR_User'  AND COLUMN_NAME = 'wx_mboile' AND TABLE_SCHEMA='DBO')
  BEGIN
      ALTER TABLE TM_USR_User
        DROP COLUMN wx_mboile
  END
GO
IF EXISTS (SELECT 1 FROM   INFORMATION_SCHEMA.COLUMNS WHERE  TABLE_NAME = 'TM_USR_User'  AND COLUMN_NAME = 'wx_telephone' AND TABLE_SCHEMA='DBO')
  BEGIN
      ALTER TABLE TM_USR_User
        DROP COLUMN wx_telephone
  END
GO

ALTER TABLE TM_DFL_DevlieryForm_Line ALTER COLUMN col_id int null
alter table TM_DFL_DevlieryForm_Line add cii_id int null constraint FK_DFL_CII references TM_CII_ClientInvoice_Line(cii_id)

-- 用于查找支付信息
alter table TR_SPR_SupplierOrder_Payment_Record add spr_payment_code nvarchar(200) null
alter table TR_SPR_SupplierOrder_Payment_Record add spr_guid	nvarchar(100) null
alter table TM_CPY_ClientInvoice_Payment add cpy_comment nvarchar(400) null
alter table TM_CPY_ClientInvoice_Payment add cpy_guid nvarchar(200) null
---------------------------------------------------------------------------------
---- 以上内容已经在服务器上运行 20210907


------ 20211007
-- 新增贸易条款，如EXW，FOB等
create table TR_TTE_TRADE_TERMS
(
	tte_id				int				identity(1,1)	primary key,
	tte_name			nvarchar(200)	not null,
	tte_description		nvarchar(500)	null,
	tte_actived			bit				not null
)
GO

insert into TR_TTE_TRADE_TERMS
values 
('EXW',N'EX Works，工厂交货价格，不包含任何运费',1),
('FOB',N'交货到船（包含开船之前的费用）',1),
('FCA',N'交货到边境，码头（需要办理出口单证，不含装港费用，装船费用）',1),
('FAS',N'交货到船边（包含上船之前所有费用）',1),
('CFR',N'货物成本+到目的港运费',1),
('CIF',N'货物成本+到目的港运费+保险',1),
('CIP/CPT',N'货物成本+到目的港运费+保险+到目的地费用',1),
('DAF',N'边境交货，类似FCA',1),
('DEF',N'目的港船上交货，类似CIF',1),
('DEQ',N'目的港码头交货，不包含目的港费用',1),
('DDU',N'未完税交货，类似CIP',1),
('DDP',N'完税后交货，到手价',1);


alter table TM_CIN_Client_Invoice add tte_id int null constraint FK_CIN_TTE references TR_TTE_TRADE_TERMS(tte_id)

insert into TR_PCO_Payment_Condition
values
(N'T/T 30%+70%',1,0,0,0),
(N'T/T 40%+60%',1,0,0,0);

alter table TR_THF_Text_Header_Footer add thr_cin_email_footer ntext null
go
update TR_THF_Text_Header_Footer 
set thr_cin_email_footer = N'Bonjour Madame, Monsieur

Nous vous adressons ci-joint une facture à régler. 

En vous remerciant par avance, 

Cordialement'

-- 添加物流对应账单，可多个物流对应一个账单
alter table TM_LGS_Logistic add sod_id int null constraint FK_LGS_SOD references TM_SOD_Supplier_Order(sod_id)

-- 添加cii和sol 的对应关系
alter table TM_CII_ClientInvoice_Line add sol_id	int null constraint FK_CII_SOL references TM_SOL_SupplierOrder_Lines(sol_id)


---------------------------------------------------------------------------------
---- 以上内容已经在服务器上运行 20211017


---- 20220224 NICO 提出，需要加一个 PCO " 60 jours fin de mois le 10"
insert into TR_PCO_Payment_Condition values ('60 jours fin de mois le 10', 1, 60,10,1);
---------------------------------------------------------------------------------
---- 以上内容已经在服务器上运行 20220224