BEGIN TRY
    BEGIN TRANSACTION


--- 2019/08/24 update purchase line
alter table TM_PIL_PurchaseIntent_Lines drop constraint FK_PIL_PIN
alter table TM_PIL_PurchaseIntent_Lines drop constraint FK_PIL_PIT
alter table TM_PIL_PurchaseIntent_Lines drop constraint FK_PIL_PRD
alter table TM_PIL_PurchaseIntent_Lines drop constraint FK_PIL_SUP
alter table TM_SOL_SupplierOrder_Lines drop constraint FK_SOL_PIL
drop table TM_PIL_PurchaseIntent_Lines
---------- 新购买意向行
create table TM_PIL_PurchaseIntent_Lines
(
	pil_id					int identity(1,1)	primary key,
	pin_id					int not null		constraint FK_PIL_PIN	references TM_PIN_Purchase_Intent(pin_id),
	prd_id					int	null			constraint FK_PIL_PRD	references TM_PRD_Product(prd_id),
	pit_id					int null			constraint FK_PIL_PIT	references dbo.TM_PIT_Product_Instance(pit_id),
	pil_order				int	not null,
	pil_quantity			int	not null,
	pil_client				nvarchar(200) null,
	pil_power				nvarchar(200)	null,
	pil_driver				nvarchar(200)	null,
	pil_temp_color			nvarchar(200)	null,
	pil_length				decimal(16,4)	null,
	pil_width				decimal(16,4)	null,
	pil_height				decimal(16,4)	null,
	pil_eff_lum				int null,
	pil_ugr					int null,
	pil_cri					int null,
	pil_logistic			nvarchar(50)	null,
	pil_supplier			nvarchar(200)	null,
	pil_description			nvarchar(1000)	null,
	pil_prd_des				nvarchar(1000) null, -- 添加注释此项作为商品描述
	pil_deadline			datetime null,
	pil_prd_name			nvarchar(200) null,
	pil_d_creation			datetime null
)

alter table TM_SOL_SupplierOrder_Lines add constraint FK_SOL_PIL foreign key (pil_id) references TM_PIL_PurchaseIntent_Lines(pil_id)

-----------  更新 Supplier Order Lines
alter table TM_SOL_SupplierOrder_Lines alter column prd_id int null
alter table TM_SOL_SupplierOrder_Lines alter column pit_id int null
alter table TM_SOL_SupplierOrder_Lines alter column vat_id int null
alter table TM_SOL_SupplierOrder_Lines add	sol_power				nvarchar(200)	null
alter table TM_SOL_SupplierOrder_Lines add	sol_driver				nvarchar(200)	null
alter table TM_SOL_SupplierOrder_Lines add	sol_temp_color			nvarchar(200)	null
alter table TM_SOL_SupplierOrder_Lines add	sol_length				decimal(16,4)	null
alter table TM_SOL_SupplierOrder_Lines add	sol_width				decimal(16,4)	null
alter table TM_SOL_SupplierOrder_Lines add	sol_height				decimal(16,4)	null
alter table TM_SOL_SupplierOrder_Lines add	sol_eff_lum				int null
alter table TM_SOL_SupplierOrder_Lines add	sol_ugr					int null
alter table TM_SOL_SupplierOrder_Lines add	sol_cri					int null
alter table TM_SOL_SupplierOrder_Lines add	sol_logistic			nvarchar(50)	null
alter table TM_SOL_SupplierOrder_Lines add	sol_client				nvarchar(200) null
alter table TM_SOL_SupplierOrder_Lines add	sol_d_creation			datetime null
alter table TM_SOL_SupplierOrder_Lines add	sol_deadline			datetime null
--alter table TM_SOL_SupplierOrder_Lines add	constraint FK_SOL_PIT foreign key (pit_id) references TM_PIT_Product_Instance(pit_id)
alter table TM_SOL_SupplierOrder_Lines add	sol_prd_name				nvarchar(200) null

-- 2019-12-12 给sol添加以下列
-- 1. 更新日期
-- 2. 开始生产日期
-- 3. 预计交期
-- 4. 实际交期
-- 5. 支付定金金额 (取消)
-- 6. 支付定金日期 (取消)
-- 7. 支付尾款金额 (取消)
-- 8. 支付尾款日期 (取消)
-- 9. 特征码（用于发货的时候查找，并可安排同批发货），将不同sol行，编成同一个号码，方面运输
-- 10. 发货日期
-- 11. 发货人
-- 12. 物流编号
-- 13. 物流预计到港日

alter table TM_SOL_SupplierOrder_Lines add sol_d_update			datetime null
alter table TM_SOL_SupplierOrder_Lines add sol_d_production		datetime null
alter table TM_SOL_SupplierOrder_Lines add sol_d_exp_delivery	datetime null
alter table TM_SOL_SupplierOrder_Lines add sol_d_delivery		datetime null
--alter table TM_SOL_SupplierOrder_Lines add sol_deposit			decimal(16,4) null
--alter table TM_SOL_SupplierOrder_Lines add sol_d_deposit		datetime null
--alter table TM_SOL_SupplierOrder_Lines add sol_balance			decimal(16,4) null
--alter table TM_SOL_SupplierOrder_Lines add sol_d_balance		datetime null
alter table TM_SOL_SupplierOrder_Lines add sol_feature_code		nvarchar(200) null -- 特征码
alter table TM_SOL_SupplierOrder_Lines add sol_d_shipping		datetime null
alter table TM_SOL_SupplierOrder_Lines add sol_transporter		nvarchar(100) null
alter table TM_SOL_SupplierOrder_Lines add sol_logistics_number	nvarchar(100) null
alter table TM_SOL_SupplierOrder_Lines add sol_d_exp_arrival	datetime null

-- 2019-12-14 添加新项目
alter table TM_SOL_SupplierOrder_Lines add sol_need2pay			decimal(16,4) null
alter table TM_SOL_SupplierOrder_Lines add sol_paid				decimal(16,4) null


-- 支付记录表格
create table TR_SPR_SupplierOrder_Payment_Record
(
	spr_id					int		identity(1,1)	primary key,
	spr_d_creation			datetime				not null,
	spr_d_payment			datetime				not null,
	spr_amount				decimal(16,4)			not null,
	spr_comment				varchar(200)			null,
	sol_id					int						not null	constraint FK_SPR_SOL	references TM_SOL_SupplierOrder_Lines(sol_id),
	spr_d_update			datetime				null
)

-- 2019-12-18

alter table TM_SIL_SupplierInvoice_Lines alter column prd_id int null
alter table TM_SIL_SupplierInvoice_Lines alter column pit_id int null
alter table TM_SIL_SupplierInvoice_Lines alter column vat_id int null

alter table TM_PIL_PurchaseIntent_Lines add pil_d_update		datetime null
alter table TM_PIL_PurchaseIntent_Lines add usr_id_creator		int null constraint FK_PIL_USR_C references TM_USR_USER(usr_id)
alter table TM_PIL_PurchaseIntent_Lines add usr_id_com1			int null constraint FK_PIL_USR_C1 references TM_USR_USER(usr_id)
alter table TM_PIL_PurchaseIntent_Lines add usr_id_com2			int null constraint FK_PIL_USR_C2 references TM_USR_USER(usr_id)
alter table TM_PIL_PurchaseIntent_Lines add usr_id_com3			int null constraint FK_PIL_USR_C3 references TM_USR_USER(usr_id)

-- 2020-01-02 for maroc
alter table TR_SOC_Society add soc_cnss nvarchar(200) null
alter table TR_SOC_Society add soc_taxe_pro nvarchar(200) null

---------------2020-01-04以上内容在ENERGY 和CRSC 上面运行了，其他的没有运行



alter table TR_SPR_SupplierOrder_Payment_Record alter column spr_comment nvarchar(400) null
alter table TR_SPR_SupplierOrder_Payment_Record alter column sol_id int null
alter table TR_SPR_SupplierOrder_Payment_Record add  sod_id int null constraint FK_SPR_SOD references TM_SOD_Supplier_Order(sod_id)

alter table TM_SOL_SupplierOrder_Lines add sol_guid uniqueidentifier null
alter table TM_SOD_Supplier_Order add sod_guid uniqueidentifier null
alter table TM_SOD_Supplier_Order add sod_need2pay decimal(16,4) null
alter table TM_SOD_Supplier_Order add sod_paid decimal(16,4) null
alter table TM_SOD_Supplier_Order add sod_total_ht decimal(16,4) null
alter table TM_SOD_Supplier_Order add sod_total_ttc decimal(16,4) null

alter table TM_CLD_Calendar add sol_id int null
alter table TM_CLD_Calendar add sod_id int null
alter table TM_CLD_Calendar add cld_guid uniqueidentifier null
alter table TM_CLD_Calendar add sol_guid uniqueidentifier null
alter table TM_CLD_Calendar add cld_action nvarchar(50) null

alter table TM_USR_User add usr_rcv_purchase_notif bit null

-- 建立用户日历表
create table TR_UCL_User_Calendar
(
	ucd_id				int		identity(1,1)	primary key,
	usr_id				int		not null constraint FK_UCL_USR references TM_USR_USER(usr_id),
	cld_id				int		not null constraint FK_UCL_CLD references TM_CLD_Calendar(cld_id)
)

alter table TM_CLD_Calendar add cld_isdone bit null

-- 链接物流表及supplier order line 表， 只增加，不链接
alter table TM_LGL_Logistic_Lines add sol_id int null 
-- sol 入库数量
ALTER TABLE tm_sol_supplierorder_lines add sol_qty_storage int null

alter table tr_soc_society add soc_is_prd_mandatory bit null

    COMMIT TRAN -- Transaction Success!
END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0
        ROLLBACK TRAN --RollBack in case of Error
  DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY()
        DECLARE @ErrorState INT = ERROR_STATE()

    -- Use RAISERROR inside the CATCH block to return error  
    -- information about the original error that caused  
    -- execution to jump to the CATCH block.  
    RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH
