<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <!-- LIU-PC  -->
    <!--<add name="ERP_DBEntities" connectionString="metadata=res://*/DataBase.ERP_DB.csdl|res://*/DataBase.ERP_DB.ssdl|res://*/DataBase.ERP_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LIU-PC\SQLEXPRESS;initial catalog=ERP_DB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- local -->
    <add name="ERP_DBEntities" connectionString="metadata=res://*/DataBase.ERP_DB.csdl|res://*/DataBase.ERP_DB.ssdl|res://*/DataBase.ERP_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ERP_ECOLED;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="PageSize" value="20"/>
    <add key="ConfigurationTime" value="false"/>
    <add key="FilePath" value="D:\AppLog\EcoLedSite\Logs.txt"/>
    <add key="AppErrors" value="D:\AppLog\EcoLedSite\AppErrors.txt"/>
    <add key="ExportErrors" value="D:\AppLog\EcoLedSite\ExportErrors.txt"/>
    <add key="ImportErrors" value="D:\AppLog\EcoLedSite\ImportErrors.txt"/>
    <add key="MailErrors" value="D:\AppLog\EcoLedSite\MailErrors.txt"/>
    <add key="MailAttchmt" value="D:\SiteFilesFolder\EcoLedSite\Files\EmailAttchmt"/>
    <add key="EmailSender" value="D:\SiteFilesFolder\EcoLedSite\Files\EmailSender"/>
    <add key="AdminEmail" value="contact@ecoled-europe.com"/>
    <add key="AdminEmailPwd" value="Par!s@017"/>
    <add key="AdminEmail2" value="contact@ecoled-europe.com"/>
    <add key="AdminEmailPwd2" value="Par!s@017"/>
    <add key="Email4Aganda" value="calendar.service@outlook.com"/>
    <add key="smsclientguid" value="57B22C50-A2B6-419D-B81F-55E989E81944"/>
    <add key="smsContactTel" value="0783297596"/>
    <add key="smsContactEmail" value="contact@ecoled-europe.com;lcleader@hotmail.com"/>
    <add key="EmailAccount1Host" value="auth.smtp.1and1.fr"/>
    <add key="CompanyName" value="ECOLED EUROPE"/>
    <add key="DownloadTechSheetUrl" value="http://t.ecoled-europe.com"/>
    <add key="DownloadTechSheetUrlSite" value="http://www.ecoled-europe.com"/>
    <add key="TechShettVersion" value="3"/>
  </appSettings>
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpHandlers>
      <add verb="*POST" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
    </httpHandlers>
    <httpRuntime executionTimeout="240" maxRequestLength="8192000"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" name=".ASPXFORMSAUTH_ERP"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="AjaxFileUploadHandler" verb="POST" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MyClientWebServicesSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.my-clients.com/webservices/myclientwebservices.asmx" binding="basicHttpBinding" bindingConfiguration="MyClientWebServicesSoap" contract="MyClientService.MyClientWebServicesSoap" name="MyClientWebServicesSoap"/>
    </client>
  </system.serviceModel>
</configuration>