<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <!-- LIU-PC  -->
    <!--<add name="ERP_DBEntities" connectionString="metadata=res://*/DataBase.ERP_DB.csdl|res://*/DataBase.ERP_DB.ssdl|res://*/DataBase.ERP_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LIU-PC\SQLEXPRESS;initial catalog=ERP_DB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- local -->
    <add name="ERP_DBEntities" connectionString="metadata=res://*/DataBase.ERP_DB.csdl|res://*/DataBase.ERP_DB.ssdl|res://*/DataBase.ERP_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ERP_DB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="PageSize" value="20"/>
    <add key="ConfigurationTime" value="false"/>
    <add key="FilePath" value="D:\AppLog\ERPApp\Logs.txt"/>
    <add key="AppErrors" value="D:\AppLog\ERPApp\AppErrors.txt"/>
    <add key="ExportErrors" value="D:\AppLog\ERPApp\ExportErrors.txt"/>
    <add key="ImportErrors" value="D:\AppLog\ERPApp\ImportErrors.txt"/>
    <add key="MailErrors" value="D:\AppLog\ERPApp\MailErrors.txt"/>
    <add key="MailAttchmt" value="D:\SiteFilesFolder\ERP\Files\EmailAttchmt"/>
    <add key="EmailSender" value="D:\SiteFilesFolder\ERP\Files\EmailSender"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
