<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <!-- LIU-PC  -->
    <!--<add name="ERP_DBEntities" connectionString="metadata=res://*/DataBase.ERP_DB.csdl|res://*/DataBase.ERP_DB.ssdl|res://*/DataBase.ERP_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LIU-PC\SQLEXPRESS;initial catalog=ERP_DB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- local -->
    <add name="ERP_DBEntities" connectionString="metadata=res://*/DataBase.ERP_DB.csdl|res://*/DataBase.ERP_DB.ssdl|res://*/DataBase.ERP_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ERP_MORODA;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="PageSize" value="20"/>
    <add key="ConfigurationTime" value="false"/>
    <add key="FilePath" value="D:\AppLog\ERPs\ERP_INM\Logs.txt"/>
    <add key="AppErrors" value="D:\AppLog\ERPs\ERP_INM\AppErrors.txt"/>
    <add key="ExportErrors" value="D:\AppLog\ERPs\ERP_INM\ExportErrors.txt"/>
    <add key="ImportErrors" value="D:\AppLog\ERPs\ERP_INM\ImportErrors.txt"/>
    <add key="MailErrors" value="D:\AppLog\ERPs\ERP_INM\MailErrors.txt"/>
    <add key="MailAttchmt" value="D:\SiteFilesFolder\ERPs\ERP_INM\Files\EmailAttchmt"/>
    <add key="EmailSender" value="D:\SiteFilesFolder\ERPs\ERP_INM\Files\EmailSender"/>
    <add key="UpLoadFiles" value="D:\SiteFilesFolder\ERPs\ERP_INM\Files\UpLoadFiles"/>
    <add key="UpLoadFilesProductPhoto" value="D:\SiteFilesFolder\ERPs\ERP_INM\Files\UpLoadFiles\Product\Photo"/>
    <add key="UpLoadFilesGeneral" value="D:\SiteFilesFolder\ERPs\ERP_INM\Files\UpLoadFiles"/>
    <add key="UpLoadFilesProductFile" value="D:\SiteFilesFolder\ERPs\ERP_INM\Files\UpLoadFiles\Product\File"/>
    <add key="UpLoadFilesAlbumPhoto" value="D:\SiteFilesFolder\ERPs\ERP_INM\Files\UpLoadFiles\Album"/>
    <add key="UpLoadFilesTempFile" value="D:\SiteFilesFolder\ERPs\ERP_INM\Files\UpLoadFiles\TempFile"/>
    <!--<add key="ExchangeUrl" value="https://fx.cmbchina.com/hq/"/>-->
    <add key="ExchangeUrl" value="https://www.boc.cn/sourcedb/whpj/"/>
    <!-- NO USE -->
    <add key="CompanyInfo" value="ECOLED EUROPE - Siret N°75198276000025 - RCS MEAUX : 751982760 - TVA N° FR86751982760"/>
    <add key="CompanyInfoSpace" value="85"/>
    <add key="FontForPdf" value="Arial"/>
    <add key="EmailAccount1" value="NoReply@ecoled-europe.com"/>
    <add key="EmailAccount1Pwd" value="Par!s@018"/>
    <add key="EmailAccount1Host" value="auth.smtp.1and1.fr"/>
    <add key="EmailDestNotif" value="lcleader@hotmail.com"/>
    <!-- ONLY FOR SEND MAIL -->
    <add key="CompanyName" value="ECOLED EUROPE"/>
    <add key="Email4Aganda" value="lcleader@hotmail.com"/>
    <add key="EsaySearch" value="false"/>
    <add key="smsclientguid" value="57B22C50-A2B6-419D-B81F-55E989E81944"/>
    <add key="ResultLimit" value="500"/>
    <!-- 2018-01-11 for new datebase -->
    <add key="MsgContentCreateLogin" value="Votre compte ECOLED a été créé"/>
    <add key="EmailTitleCreateLogin" value="&lt;span style='color: #0877BA'&gt;ECO&lt;/span&gt;&lt;span style='color: #14AAE2'&gt;LED&lt;/span&gt; COMPTE CRÉÉ"/>
    <add key="MsgTitleCreateAccount" value="Votre compte du site Ecoled a été crée !"/>
    <add key="MsgTitleChangePassword" value="Votre mot de passe du site EcoLed a été modifié !"/>
    <add key="MsgContentCreateAccount" value="&lt;span style='color: #0877BA'&gt;ECO&lt;/span&gt;&lt;span style='color: #14AAE2'&gt;LED&lt;/span&gt; COMPTE CRÉÉ"/>
    <add key="MsgContentChangePassword" value="&lt;span style='color: #0877BA'&gt;ECO&lt;/span&gt;&lt;span style='color: #14AAE2'&gt;LED&lt;/span&gt; COMPTE MODIFIÉ"/>
    <add key="EmailAccount1Port" value="587"/>
    <add key="DownloadTechSheetUrl" value="http://t.ecoled-europe.com"/>
    <add key="DownloadTechSheetUrlSite" value="http://www.ecoled-europe.com"/>
    <add key="WithTechSheet" value="True"/>
    <!-- 2017-07-29 -->
    <!-- 票号编码格式，其他值为默认方式，1：法国；4为hk方式，5为hk02方式 -->
    <add key="CodeType" value="2"/>
    <!--<add key="PdfVersion" value="0"/>-->
    <add key="PdfVersion" value="hk"/>
    <!-- 2018-07-23 -->
    <add key="AvNewRule" value="false"/>
    <add key="jsVersion" value="4.5.2"/>
    <add key="softwareV" value="1.1.1.2"/>
    <!-- 2020-10-25 sod 转 cin 默认系数 -->
    <add key="CoefSodCin" value="1.2"/>
    <!-- JWT Configuration for REST API -->
    <add key="JwtSecretKey" value="ERP2025_ECOLED_SecretKey_ChangeInProduction_MinLength32Chars!"/>
    <add key="JwtIssuer" value="ERP2025"/>
    <add key="JwtAudience" value="ERP2025Client"/>
    <add key="JwtAccessTokenExpiryMinutes" value="15"/>
    <add key="JwtRefreshTokenExpiryDays" value="7"/>
    <!-- Shopify OAuth Configuration -->
    <add key="ShopifyApiKey" value="YOUR_SHOPIFY_API_KEY"/>
    <add key="ShopifyApiSecret" value="YOUR_SHOPIFY_API_SECRET"/>
    <add key="ShopifyRedirectUri" value="https://yourdomain.com/api/v1/integrations/shopify/callback"/>
    <add key="ShopifyScopes" value="read_products,read_orders,read_customers,read_inventory"/>
  </appSettings>
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpHandlers>
      <add verb="*POST" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
    </httpHandlers>
    <httpRuntime executionTimeout="240" maxRequestLength="8192000"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" name=".ASPXFORMSAUTH_ERP"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="AjaxFileUploadHandler" verb="POST" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <!-- CORS Headers for API -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, X-Requested-With"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MyClientWebServicesSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.my-clients.com/webservices/myclientwebservices.asmx" binding="basicHttpBinding" bindingConfiguration="MyClientWebServicesSoap" contract="MyClientService.MyClientWebServicesSoap" name="MyClientWebServicesSoap"/>
    </client>
  </system.serviceModel>
</configuration>