<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ERP_DBEntities" connectionString="metadata=res://*/DataBase.ERP_DB.csdl|res://*/DataBase.ERP_DB.ssdl|res://*/DataBase.ERP_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=ERP_MORODA;Integrated Security=True;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
