<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PageSize" value="20"/>
    <add key="ConfigurationTime" value="false"/>
    <add key="FilePath" value="D:\AppLog\ERPApp\Logs.txt"/>
    <add key="AppErrors" value="D:\AppLog\ERPApp\AppErrors.txt"/>
    <add key="ExportErrors" value="D:\AppLog\ERPApp\ExportErrors.txt"/>
    <add key="ImportErrors" value="D:\AppLog\ERPApp\ImportErrors.txt"/>
    <add key="MailErrors" value="D:\AppLog\ERPApp\MailErrors.txt"/>
    <add key="MailAttchmt" value="D:\SiteFilesFolder\ERP\Files\EmailAttchmt"/>
    <add key="EmailSender" value="D:\SiteFilesFolder\ERP\Files\EmailSender"/>
    <add key="UpLoadFiles" value="D:\SiteFilesFolder\ERP\Files\UpLoadFiles"/>
    <add key="UpLoadFilesProductPhoto" value="D:\SiteFilesFolder\ERP\Files\UpLoadFiles\Product\Photo"/>
    <add key="UpLoadFilesGeneral" value="D:\SiteFilesFolder\ERP\Files\UpLoadFiles"/>
    <add key="UpLoadFilesProductFile" value="D:\SiteFilesFolder\ERP\Files\UpLoadFiles\Product\File"/>
    <add key="UpLoadFilesAlbumPhoto" value="D:\SiteFilesFolder\ERP\Files\UpLoadFiles\Album"/>
    <add key="UpLoadFilesTempFile" value="D:\SiteFilesFolder\ERP\Files\UpLoadFiles\TempFile"/>
    <add key="CompanyInfo" value="ECOLED EUROPE - Siret N°75198276000025 - RCS MEAUX : 751982760 - TVA N° FR86751982760"/>
    <add key="CompanyInfoSpace" value="85"/>
    <add key="FontForPdf" value="Arial"/>
    <add key="CompanyName" value="ECOLED EUROPE"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
